<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="<%= page_path("check-your-answers") %>" method="get" novalidate>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--xl" for="ice_cream">
            Question goes here
          </label>
        </h1>
        <div class="govuk-form-group">
          Drop down with and id and name of `ice_cream` goes here
        </div>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>
  </div>
</div>
